<ion-view title="店铺详情">
  <ion-content>

    <div class="list">

      <div class="item">
        <h2 class="shop-name">{{shop.name}}</h2>
        <p class="shop-address">{{shop.address}}</p>
        <p class="shop-phone">{{shop.phone}}</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="updateShop(shop._id)">
          <i class="icon ion-ios7-clock"></i>
          订正错误
        </a>
        <a class="tab-item" ng-click="GotoLink(shop.address)">
          <i class="icon ion-navigate"></i>
          位置
        </a>
        <a class="tab-item" href="tel:{{shop.phone}}">
          <i class="icon ion-ios7-telephone"></i>
          电话
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>