<ion-view title={{category.name}}>
  <ion-content>
  
    <div class="button-bar bar-light">
      <a class="button" ng-click="near()">按距离</a>
      <a class="button" ng-click="">按区域</a>
      <a class="button" ng-click="">按人气</a>
    </div>

    <ion-list>
      <div bindonce ng-repeat="shop in shops">

        <ion-item class="item-stable" ng-click="toggleGroup(shop)" ng-class="{active: isGroupShown(shop)}">
          {{shop.name}} <p ng-show="{{shop.dis}}"><span bo-text="shop.dis | distance"></span></p>
        </ion-item>

        <ion-item class="item-accordion" ng-show="isGroupShown(shop)">
          <div class="button-bar bar-light">
            <a class="button button-outline button-balanced" href="tel:{{shop.phone}}">
              <i class=" icon ion-ios7-telephone"></i> 电话
            </a>
            <a class="button button-outline button-energized" ng-click="GotoLink(shop.address)">
              <i class=" icon ion-ios7-location"></i> 位置
            </a>
            <a class="button button-outline button-assertive" ng-click="showProfile(shop._id)">
              <i class=" icon ion-information"></i> 详情
            </a>
          </div>
        </ion-item>
        
      </div>
    </ion-list>

    <!-- 
    <ion-list>
      <ion-item class="item-button-right" ng-repeat="shop in shops" ng-click="showProfile(shop._id)">
        {{shop.name}}
        <a href="tel:{{shop.phone}}" class="button button-outline button-balanced">
          <i class="icon ion-ios7-telephone"></i>
        </a>
      </ion-item>
    </ion-list>
 -->
  </ion-content>
</ion-view>