<ion-view title="更改商铺">
  <ion-content class="padding">

    <div class="list">

      <label class="item item-input">
        <input type="text" placeholder="名称" ng-model="shop.name">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">类别</div>
        <select ng-model="shop._category">
          <option ng-repeat="category in categories" value="{{ category._id }}">{{ category.name }}</option>
        </select>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="地址" ng-model="shop.address">
      </label>

      <label class="item item-input">
        <input type="tel" placeholder="电话" ng-model="shop.phone">
      </label>

      <label class="item item-input">
        <input type="tel" placeholder="手机（非公开）" ng-model="shop.mobile">
      </label>

      <label class="item item-input">
        <input type="email" placeholder="邮箱（非公开）" ng-model="shop.email">
      </label>

      <ion-toggle ng-model="shop.created_by" ng-change="toggleChange()" ng-true-value="OWNER" ng-false-value="USER" toggle-class="toggle-assertive">我是店主</ion-toggle>

      <label class="item item-input">
        <textarea placeholder="店铺介绍（140字）" rows="4" ng-model="shop.desc"></textarea>
      </label>


      <a class="button button-block button-balanced" ng-click="updateShop(shop)">提交更改</a>

    </div>


  </ion-content>
</ion-view>