/* Variables */

$assertive:#EA2E49;
$balanced:#29D9C2;
$calm:#77C4D3;
$positive:#01A2A6;
$dark:#2F2933;
$headings-font-weight:bold;
// $ionicons-font-path:"../lib/ionic/release/fonts/";
/* Default Ionic */

@import'../lib/ionic/scss/ionic.scss';
/* Overwite Default Styles*/

.button {
  font-weight: bold;
}
/* Custom Styles */

.shop-name, .shop-address, .shop-phone {
  text-align: center;
  color: $assertive;
}
.shop-address {
  margin-top: $padding-large-horizontal;
}
.shop-phone {
  margin-top: $padding-base-horizontal;
}
/* Accordion list*/

.item.item-stable {
  border-color: #EEE;
  background-color: #FFF;
}
/* Opened accordion list*/

.item.active.item-stable, .item-accordion.item {
  background-color: #EFEFEF;
}
.item-accordion.item {
  border-color: #EFEFEF;
}