<ion-view title="餐厅">
  <ion-content>

    <div>
      <p>{{lng}}</p>
      <p>{{lat}}</p>
    </div>

    <ion-list>
      <div bindonce ng-repeat="shop in shops">

        <ion-item class="item-stable" ng-click="toggleGroup(shop)" ng-class="{active: isGroupShown(shop)}">
          {{shop.name}}
          <p ng-show="{{shop.dis}}">
            <span bo-text="shop.dis | distance"></span>
          </p>
        </ion-item>

        <ion-item class="item-accordion" ng-show="isGroupShown(shop)">
          <div class="button-bar bar-light">
            <a class="button button-outline button-balanced" href="tel:{{shop.phone}}">
              <i class=" icon ion-ios7-telephone"></i> 电话
            </a>
            <a class="button button-outline button-energized" ng-click="GotoLink(shop.address)">
              <i class=" icon ion-ios7-location"></i> 位置
            </a>
            <a class="button button-outline button-assertive" ng-click="showProfile(shop._id)">
              <i class=" icon ion-information"></i> 详情
            </a>
          </div>
        </ion-item>

      </div>
    </ion-list>

  </ion-content>
</ion-view>