<ion-view title="意见反馈">
  <ion-content class="padding">

  	<div class="list">

      <label class="item item-input">
        <input type="email" placeholder="您的邮箱地址" ng-model="feedback.email">
      </label>

      <label class="item item-input">
        <textarea placeholder="意见反馈" rows="6" ng-model="feedback.content"></textarea>
      </label>

    </div>

		<a class="button button-block button-balanced"  ng-click="postFeedback(feedback.email, feedback.content)">发送</a>

  </ion-content>
</ion-view>