<ion-view title="新西兰">
  <ion-content class="padding">
  <p>device: {{device}}</p>
  <p>Token: {{token}}</p>

    <h2>latitude: {{lat}}</h2>
		<h2>longitude: {{lng}}</h2>

    <h2>Network type: {{type}}</h2>
    <h2>isOnline: {{isOnline}}</h2>
    <h2>isOffline: {{isOffline}}</h2>
  </ion-content>
</ion-view>