<ion-view title="更多">
  <ion-content class="padding">

    <div class="list card">
      <a class="item" href="#/tab/addshop">
        <i class="icon ion-plus-round balanced"></i> 添加商铺
      </a>
      <a class="item" href="#/tab/feedback">
        <i class="icon ion-paper-airplane royal"></i> 意见反馈
      </a>
    </div>

    <div class="list card">
      <a class="item" href="#/tab/aboutus">
        <i class="icon ion-android-note energized"></i> 服务条款
      </a>
      <a class="item" href="#/tab/aboutus">
        <i class="icon ion-person-stalker assertive"></i> 关于我们
      </a>
    </div>

  </ion-content>
</ion-view>