<ion-view title="新闻推送">
  <ion-content>
    <div class="list card">
      <a class="item" ng-click="GotoLink('http://i.skykiwi.com')">新西兰天维网</a>
      <a class="item" ng-click="GotoLink('http://www.hougarden.com/News')">后花园新闻</a>
    </div>

  </ion-content>
</ion-view>