<ion-view title="大众服务">

  <ion-header-bar class="bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="搜索..." ng-change="search()" ng-model="data.search" ng-model-options="{ debounce: 2000 }">
    </label>
    <button class="button button-clear" ng-click="clearSearchBox()">清除</button>
  </ion-header-bar>

  <ion-content>
    <ul class="list">
      <li class="item" bindonce ng-repeat="shop in data.searchResults" ng-click="showProfile(shop._id)">
        <span bo-text="shop.name">
      </li>
    </ul>

    <ul class="list">
      <li class="item" bindonce ng-repeat="category in categories" ng-click="showService(category._id)">
        <span bo-text="category.name">
      </li>
    </ul>
  </ion-content>

</ion-view>