<!-- <div class="tabs-striped tabs-background-stable tabs-color-assertive"> -->

  <ion-tabs class="tabs-icon-only tabs-assertive">

    <ion-tab title="首页" icon="ion-home" ui-sref="tabs.home">
      <ion-nav-view name="homeTab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="餐厅" icon="ion-icecream" ui-sref="tabs.cafe">
      <ion-nav-view name="cafeTab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="服务" icon="ion-person-stalker" ui-sref="tabs.service">
      <ion-nav-view name="serviceTab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="新闻" icon="ion-stats-bars" ui-sref="tabs.news">
      <ion-nav-view name="newsTab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="更多" icon="ion-gear-a" ui-sref="tabs.more">
      <ion-nav-view name="moreTab"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
<!-- </div> -->